@charset "UTF-8";
/*  ---- header---- */
/* -----화면너비 최대 0~768px ----- */
@media screen and (max-width: 768px) {
  .logo {
    position: relative;
    text-indent: -99999999px;
  }

  .logo::after {
    cursor: pointer;
    position: absolute;
    content: "";
    background: url(../favicon/android-icon-192x192.png);
    display: block;
    width: 40px;
    height: 40px;
    background-size: 100%;
    mix-blend-mode: multiply;
    mix-blend-mode: screen;
    top: 0px;
    filter: drop-shadow(2px 3px 4px #a62c2ca3);
  }

  .logo a {
    font-size: 20px;
  }

  nav button {
    padding: 5px 10px;
  }

  .lang {
    padding: 4px 8px;
  }

  .header-content {
    position: unset;
    transform: none;
    padding-top: 150px;
  }

  .header-content h2 {
    font-size: 48px;
    line-height: 50px;
  }

  .header-content h3 {
    font-size: 20px;
  }

  .header-content .add-email button {
    font-size: 12px;
    padding: 10px 15px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
  }

  .col {
    flex-basis: 100%;
  }

  .col h2 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 28px;
    margin-bottom: 20px;
  }

  .col h3 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    margin-bottom: 20px;
  }
}

/* 선택 가이드 영역 */
.choice-content .card {
  flex-basis: 100%;
  /* item 박스 너비들 바뀌면서 줄바꿈 */
}

/* ------768 끝 ------ */

/* 769 ~ 1220 */
@media screen and (min-width:769px) and (max-width:1220px) {
  .choice-content .card {
    flex-basis: calc(50% - 15px);
  }
}

/* 1220 ~ 끝 */
/* ------------반응형 footer-------------- */