@charset "UTF-8";
@import url(my-reset.css);

body {
  background-color: #111;
  color: #fff;
}

/* ====================================  */
/* ===============header===============  */
/* ====================================  */
header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(../images/header-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 10px 8%;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

nav .logo {
  font-size: 32px;
  font-weight: 800;
}

nav .logo a {
  color: #db0001;
}

nav button {
  border: 0;
  background: #db0001;
  border-radius: 5px;
  color: #fff;
  padding: 10px 24px;
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid #db0001;
}

.lang {
  display: inline-flex;
  align-items: center;
  border: 1px solid #fff;
  background: transparent;
  column-gap: 4px;
}

.header-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-content h2 {
  font-size: 60px;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: -1px;
  max-width: 650px;
  margin-bottom: 20px;
  white-space: wrap;
  white-space: nowrap;
}

.header-content h3 {
  font-weight: 400;
  margin-bottom: 40px;
}

.add-email {
  background-color: #fff;
  border-radius: 4px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.add-email input {
  border: 0;
  outline: 0;
  flex: 1;
  margin-left: 20px;
}

.add-email button {
  border: 0;
  background-color: #db0001;
  color: #fff;
  font-size: 16px;
  padding: 15px 30px;
  /* width:30px;
  height:50px; */
  cursor: pointer;
}

/* --------banner--------- */

section {
  padding: 40px 10%;
}

section h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
}

section h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.5;
}

section p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 30px 0;
}

.banner-content {
  border-radius: 6px;
  /* vendor prefix */
  /* 크롬, 사파리, 구형 안드로이드, ios, 엣지 */
  background: -webkit-linear-gradient(to right, #af5b17 0%, #927d5e 60%);
  /* 파이어폭스 */
  background: -moz-linear-gradient(to right, #af5b17 0%, #927d5e 60%);
  /* 오페라 */
  background: -o-webkit-linear-gradient(to right, #af5b17 0%, #927d5e 60%);
  /* 기본형은 맨 나중에 */
  background: linear-gradient(to right, rgba(218, 145, 36, 0.9) 0%, rgba(248, 210, 126, 0.5) 60%),
    url(../images/coffee_beans.png) no-repeat right center;
  padding: 40px;
  margin: 0 0 40px 0;
  margin-bottom: 40px;
}

#banner button {
  font-size: 14px;
  font-weight: 500;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 20px;
  color: #fff;
  background: rgba(167, 132, 79, 0.658);
}

.select-menu {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 5px 20px;
  margin-top: 20px;
  font-size: 16px;
}

.select-menu option {
  background: #2b2b2b;
  color: #fff;

}

/* --------membership-------- */
.membership-content {
  border-radius: 6px;
  background: linear-gradient(to right, rgb(101, 28, 61, 0.9) 0%, rgba(40, 10, 43,
        0.5) 60%), url(../images/membership-bg.png) no-repeat right center;
  padding: 60px 40px;
  margin-bottom: 40px;
}

/* -----choice----- */
.choice-content img {
  width: 100%;
  height: auto;
}

.choice-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.choice-content .card {
  flex: 1;
  /* border: 0;
  outline: 0; */
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(25, 32, 68, 1)0%, rgba(32, 19, 34, 1)62%);
  padding: 40px;
  height: 300px;
  position: relative;
}

.choice-content .card .bean-img {
  position: absolute;
  width: 80px;
  bottom: 20px;
  right: 10px;
}

.choice-content img {
  width: 100%;
}

/* ------------FAQ-------------- */
.accordian {
  width: 100%;
  margin: 60px auto;
}

.accordian li {
  width: 100%;
  padding: 5px;
}

.accordian li label {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 25px;
  font-weight: 300;
  background: #303030;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}

.accordian li label::after {
  content: '\2b';
  font-size: 40px;
  position: absolute;
  right: 20px;
  transition: 1.5s;
}

.accordian .content {
  background: #3b3b3b;
  font-size: 22px;
  line-height: 1.6;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
}

input[type=radio] {
  display: none;
}

.accordian input[type=radio]:checked+label+.content {
  max-height: 600px;
  padding: 30px 20px;
}

.accordian input[type=radio]:checked+label::after {
  transform: rotate(360deg);
}

.newsletter {
  padding: 20px 10%;
}

/* ------------footer-------------- */
footer {
  padding: 60px 10%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}

.footer-content a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

.left {
  flex-basis: 60%;
}

.center,
.right {
  flex-basis: 20%;
  vertical-align: top;
}

.col h2,
.col h3 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 32px;
  margin-bottom: 20px;
}

.col h3 {
  font-size: 26px;
}

.footer-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.footer-nav li:not(:last-child) {
  padding-right: 20px;
  border-right: 1px solid #eee;
}

.footer-info {
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.socials {
  display: flex;
  align-items: center;
  gap: 5px;
}

.socials {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

.footer-content p {
  font-size: 14px;
  line-height: .6;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.copyright{
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}